In [2]:
# Dependencies and Setup
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

# Files to load
world_happiness = "Datasets1/WorldHappinessReport_headers.csv"
infant_mortality_rate = "Datasets1/InfantMortalityRate_headers.csv"

# Read the world happiness and infant mortality rate files into a dataframe
world_happiness_df = pd.read_csv(world_happiness)
infant_mortality_df = pd.read_csv(infant_mortality_rate)

In [3]:
world_happiness_df.head()

,country_name,year,life_ladder,logged_GDP_per_capita,social_support,healthy_life_expectancy,life_choices,generosity,corruption,positive_affect,negative_affect
0,Afghanistan,2008,3.724,7.370,0.451,50.80,0.718,0.168,0.882,0.518,0.258
1,Afghanistan,2009,4.402,7.540,0.552,51.20,0.679,0.190,0.850,0.584,0.237
2,Afghanistan,2010,4.758,7.647,0.539,51.60,0.600,0.121,0.707,0.618,0.275
3,Afghanistan,2011,3.832,7.620,0.521,51.92,0.496,0.162,0.731,0.611,0.267
4,Afghanistan,2012,3.783,7.705,0.521,52.24,0.531,0.236,0.776,0.710,0.268

In [4]:
infant_mortality_df.head()

                country  infant_mortaility_rate  gender  year
0           Afghanistan               43.050731  Female  2019
1                Angola               44.851045  Female  2019
2               Albania                7.659442  Female  2019
3               Andorra                2.555451  Female  2019
4  United Arab Emirates                5.716825  Female  2019

In [5]:
# Rename the country_name column in world_happiness_df to "country"
world_happiness_df.rename(columns = {'country_name' : 'country'}, inplace = True)

In [6]:
# Combine the data into a single dataset
happiness_df = pd.merge(world_happiness_df, infant_mortality_df, how="left", on=["country", "country"])

# Display the data table for preview
happiness_df.head()

,country,year_x,life_ladder,logged_GDP_per_capita,social_support,healthy_life_expectancy,life_choices,generosity,corruption,positive_affect,negative_affect,infant_mortaility_rate,gender,year_y
0,Afghanistan,2008,3.724,7.37,0.451,50.8,0.718,0.168,0.882,0.518,0.258,43.050731,Female,2019.0
1,Afghanistan,2008,3.724,7.37,0.451,50.8,0.718,0.168,0.882,0.518,0.258,44.559440,Female,2018.0
2,Afghanistan,2008,3.724,7.37,0.451,50.8,0.718,0.168,0.882,0.518,0.258,46.119236,Female,2017.0
3,Afghanistan,2008,3.724,7.37,0.451,50.8,0.718,0.168,0.882,0.518,0.258,47.753971,Female,2016.0
4,Afghanistan,2008,3.724,7.37,0.451,50.8,0.718,0.168,0.882,0.518,0.258,49.544267,Female,2015.0

In [7]:
# Drop null values
happiness_df.dropna()

,country,year_x,life_ladder,logged_GDP_per_capita,social_support,healthy_life_expectancy,life_choices,generosity,corruption,positive_affect,negative_affect,infant_mortaility_rate,gender,year_y
0,Afghanistan,2008,3.724,7.370,0.451,50.8,0.718,0.168,0.882,0.518,0.258,43.050731,Female,2019.0
1,Afghanistan,2008,3.724,7.370,0.451,50.8,0.718,0.168,0.882,0.518,0.258,44.559440,Female,2018.0
2,Afghanistan,2008,3.724,7.370,0.451,50.8,0.718,0.168,0.882,0.518,0.258,46.119236,Female,2017.0
3,Afghanistan,2008,3.724,7.370,0.451,50.8,0.718,0.168,0.882,0.518,0.258,47.753971,Female,2016.0
4,Afghanistan,2008,3.724,7.370,0.451,50.8,0.718,0.168,0.882,0.518,0.258,49.544267,Female,2015.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56696,Zimbabwe,2020,3.160,7.829,0.717,56.8,0.643,-0.009,0.789,0.703,0.346,45.864949,Total,2013.0
56697,Zimbabwe,2020,3.160,7.829,0.717,56.8,0.643,-0.009,0.789,0.703,0.346,47.853394,Total,2012.0
56698,Zimbabwe,2020,3.160,7.829,0.717,56.8,0.643,-0.009,0.789,0.703,0.346,51.631998,Total,2011.0
56699,Zimbabwe,2020,3.160,7.829,0.717,56.8,0.643,-0.009,0.789,0.703,0.346,53.776518,Total,2010.0
56700,Zimbabwe,2020,3.160,7.829,0.717,56.8,0.643,-0.009,0.789,0.703,0.346,55.866004,Total,2009.0

In [37]:
df = happiness_df.drop(columns ="year_x")
df = happiness_df.drop(columns ="social_support")
df = happiness_df.drop(columns ="year_x")

In [38]:
df.head()

,country,year_x,life_ladder,logged_GDP_per_capita,healthy_life_expectancy,life_choices,generosity,corruption,positive_affect,negative_affect,infant_mortaility_rate,gender,year_y
0,Afghanistan,2008,3.724,7.37,50.8,0.718,0.168,0.882,0.518,0.258,43.050731,Female,2019.0
1,Afghanistan,2008,3.724,7.37,50.8,0.718,0.168,0.882,0.518,0.258,44.559440,Female,2018.0
2,Afghanistan,2008,3.724,7.37,50.8,0.718,0.168,0.882,0.518,0.258,46.119236,Female,2017.0
3,Afghanistan,2008,3.724,7.37,50.8,0.718,0.168,0.882,0.518,0.258,47.753971,Female,2016.0
4,Afghanistan,2008,3.724,7.37,50.8,0.718,0.168,0.882,0.518,0.258,49.544267,Female,2015.0